:root {
  --font-primary: "Roboto", sans-serif;
  --color-text: #222;
}


html, body {
  height: 100%;      
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: #EDF2F4;
  overflow: hidden;   
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: clamp(2rem, 4vw + 1rem, 3rem); 
}
h2 {
  font-size: clamp(1.75rem, 3vw + 1rem, 2.5rem);
}
h3 {
  font-size: clamp(1.5rem, 2.5vw + 0.5rem, 2rem);
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.125rem;
}
h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0 0 1em 0;
}